

.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}

.about-item {
  background-color: #292b3a;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
  color: white;
  font-family: 'Arial', sans-serif;
  transition: transform 0.2s ease;
}

.about-item h2 {
  color: #f06;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-item p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.6;
}

.about-item:hover {
  transform: translateY(-5px);
}

/* Add a cool font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body {
  font-family: 'Roboto Condensed', sans-serif;
}
