*{
  font-family:"CustomFont";
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "CustomFont";
  src: url("../fonts/RolexLight.woff2");
}


  
  .main-content {
    width: 80%;
  }

  .horizontal-line {
    margin: 40px auto; 
    border: none;
    border-top: 2px solid #ddd; 
    width: 95%; 
  }

  .slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;  
    margin-top: 30px; /* Adjust margin as needed */
  }

  .slideshow-title{
    color:black;
    text-decoration: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
  }

  .sponsor-title{
    color:black;
    text-decoration: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
  }

  .sponsor-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
