
.headlines {
  display: flex;
  flex-direction: column;
  background-image: url('../images/Lol/Lol1.jpeg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  border: 2px solid #2a2a2a;
  border-radius: 10px;
  padding: 20px;
}

.headline {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 10px 0;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #ffcc00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.headline a {
  text-decoration: none;
  color: inherit;
}

.headline:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease-in-out;
}


.video-placeholder {
  position: relative;
  width: 70%;
  height: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; 
}

.video-header {
  background-color: #1a1a1a; 
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
  font-family: 'League of Legends', sans-serif; 
  font-size: 30px; 
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}

.video-header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #ffcc00; /* League of Legends yellow */
}


.video-placeholder iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.featured-champion {
  
  padding: 20px;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}


.featured-champion h2 {
  font-size: 36px;
  margin: 10px 0;
  color: #e91e63; /* League of Legends red */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(32, 60, 79, 0.6);
  background-image: linear-gradient(to right, #e91e63, #ff9800); 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}




  

.featured-champion h3 {
  font-size: 32px;
  margin: 10px 0;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.featured-champion p {
  font-size: 18px;
  line-height: 1.4;
  margin: 12px 0;
  color: #f00;
  font-weight: bold;
  position: relative;
  animation: flames 1s infinite alternate;
}

@keyframes flames {
  0% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
  }
}


.featured-champion a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e91e63;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  border: 2px solid #fff; 
  margin-top: 35px;
}

.featured-champion a:hover {
  background-color: #ffc107; 
  border-color: #e91e63; 
}


.featured-champion hr {
  border: none;
  height: 4px;
  background: linear-gradient(to right, #284253, #1e3c4f);
  margin: 20px auto;
  margin-bottom: 50px;
  opacity: 0.7;
  width: 58%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



