.navbar {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    position: fixed;
  }

  .search-field {
    width: 185px;
    height: 30px;
  }

  .search-field input {
    flex: 1; 
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .search-field button {
    width: 25px;
    height: 25px;

  }

  .logo img {
    width: 160px;
    margin-top: 5px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-links li {
    border-left: 1px solid #fff;
    text-align: center;
    flex: 1;
    position: relative;
  }
  
  .nav-links li:first-child {
    border-left: none;
    padding-left: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links a:hover {
    color: #ffd700;
  }

  .login-register {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .login-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cart_container {
    background-color: #3498db;
    color: #000000;
    font-size: 9px;
    padding: 1px 3px;
    border-radius: 50%;
    right: -5px;
    margin-left: -10px;
  }
  .user-button{
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  