.shopTitle {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* five columns */
    justify-items: center;
  }
  
  .product {
    width: 70%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 14px;
  }
  
  .product img {
    max-width: 100%;
    width: 100px;
    margin-top: 20px;
  }
  
  .product .description {
    text-align: center;
    margin-top: 10px;
  }
  
  .product:hover {
    transform: scale(1.08);
    cursor: pointer;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 5px 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
  }