body {
 /* background: linear-gradient(to bottom, #3498db, #1abc9c);*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 140px;
  padding-bottom: 140px;
}

header {
  text-align: center;
  margin: 40px;
}
nav {
  display: flex;
  background-color: #333;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  /* Flex container for upcoming tournaments */
  .flex-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .upcoming-tournaments {
    width: 100%;
    border-collapse: collapse;
  }
  
  .upcoming-tournaments th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  .upcoming-tournaments td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  
  /* Table for trending videos styles */
  .trending-videos {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .trending-videos th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  .trending-videos td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
 P {
  text-align: center;
  margin-top: 35px;
 }


  